@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: url("../../public/fondo.png");
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}
@media not all and (min-width: 768px) {
  body {
    background-image: url("../../public/fondo-mobile.png");
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.confetti-piece {
  animation: makeItRain 3000ms infinite linear;
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }

  10% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  to {
    transform: translateY(90vh);
  }
}

.pokemon-text {
  font-family: 'Pokemon Solid', sans-serif;
  color: yellow;
  text-shadow: 
      2px 2px 0px blue,
      -2px -2px 0px blue,
      2px -2px 0px blue,
      -2px 2px 0px blue,
      2px 2px 0px blue;
}

.fondo-letras {
  background-image: url("../../public/pokebola.webp");
  background-repeat: no-repeat;
  background-size: cover;
}